DISCORD_TOKEN=1233467
LLM_TOKEN=rc_1234567
LLM_BASE_URL=https://api.featherless.ai/v1
MODEL_NAME=google/gemma-3-27b-it
COMFY_URL=http://192.168.2.4:8188
TOKEN_LIMIT=4096
DASHBOARD_PASSWORD=123456787
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/XYZ
LOCAL_MODEL_PATH=/app/models/google_gemma-3-270m-it-Q8_0.gguf
HF_TOKEN=